# SP23 - CS220:
# General
#### Writer: Lacey D.

The questions cover *Week 5: Strings* to *Week 7: JSON* (**Strings, Lists, Dictionaries, CSV Files, JSON**)

In [45]:
import re
def format_answers(s):
    s = list(filter(lambda x: len(x) > 0, re.sub("[ABCDEF]. ",'',s.replace('`','').replace('_','\_')).split("\n")))
    # print(s)
    correct = s[-1][-1]
    s = s[:-1]
    correct_index = "ABCDE".find(correct.upper())
    answers = ""
    for i in range(len("ABCDE"[0:len(s)])):
        print("  {}. {}".format("ABCDE"[i],s[i]))
    print()
    for i in range(len(s)):
        if (i == correct_index):
            answers += "  \\correct{\\tt{"
        else:
            answers += "  \\answer{\\tt{"
        answers += s[i]
        answers += "}}\n"
    print(answers)

format_answers("""
4
5
6
9
10
Correct = D
""")

  A. 4
  B. 5
  C. 6
  D. 9
  E. 10

  \answer{\tt{4}}
  \answer{\tt{5}}
  \answer{\tt{6}}
  \correct{\tt{9}}
  \answer{\tt{10}}

# Question 1:
What is the default delimiter between columns in a CSV file?

In [49]:
format_answers("""
colon
newline
semicolon
comma
Correct = D
""")

  A. colon
  B. newline
  C. semicolon
  D. comma

  \answer{\tt{colon}}
  \answer{\tt{newline}}
  \answer{\tt{semicolon}}
  \correct{\tt{comma}}

# Question 2:
Which of the following is a valid JSON?

In [48]:
format_answers("""
{'No Country for Old Men':{'2020':True,'duration': None}}
{'No Country for Old Men':{2020:true,'duration': None}}
{"No Country for Old Men":{"2020":true,"duration":null}}
{"No Country for Old Men":{"2020":True,"duration":null}}
Correct = C
""")

  A. {'No Country for Old Men':{'2020':True,'duration': None}}
  B. {'No Country for Old Men':{2020:true,'duration': None}}
  C. {"No Country for Old Men":{"2020":true,"duration":null}}
  D. {"No Country for Old Men":{"2020":True,"duration":null}}

  \answer{\tt{{'No Country for Old Men':{'2020':True,'duration': None}}}}
  \answer{\tt{{'No Country for Old Men':{2020:true,'duration': None}}}}
  \correct{\tt{{"No Country for Old Men":{"2020":true,"duration":null}}}}
  \answer{\tt{{"No Country for Old Men":{"2020":True,"duration":null}}}}

# Question 3:
What is the output of the following code?

In [4]:
str1 = "hello"
new_str = ""
count = 0 
while count < len(str1): 
    new_str += str1[count].upper()
    count += 2
new_str

'HLO'

In [50]:
format_answers("""
'HLO'
'hlo'
'HELLO'
'HEO'
Correct = A
""")

  A. 'HLO'
  B. 'hlo'
  C. 'HELLO'
  D. 'HEO'

  \correct{\tt{'HLO'}}
  \answer{\tt{'hlo'}}
  \answer{\tt{'HELLO'}}
  \answer{\tt{'HEO'}}

# Question 4:
What is the output of the following code?

In [10]:
sentence = "Alice; Bob; Caroline; David"
words = sentence.split("; ")
print(words[3][-2])

i

In [51]:
format_answers("""
'Caroline'
'i'
'd'
'David'
Correct = B
""")

  A. 'Caroline'
  B. 'i'
  C. 'd'
  D. 'David'

  \answer{\tt{'Caroline'}}
  \correct{\tt{'i'}}
  \answer{\tt{'d'}}
  \answer{\tt{'David'}}

# Question 5:
What is the output of the following code?

In [39]:
list1 = [2,5,1,4,1,3]
list1 = sorted(list1, reverse=True)
list1.append((len(list1)))
list1[5] = 'six'
list1

[5, 4, 3, 2, 1, 'six', 6]

In [52]:
format_answers("""
[5, 4, 3, 2, 1, 'six', 6]
[5, 4, 3, 2, 1, 1, 6]
[5, 4, 3, 2, 1, 5]
[2, 5, 1, 4, 3, 'six', 6]
Correct = A
""")

  A. [5, 4, 3, 2, 1, 'six', 6]
  B. [5, 4, 3, 2, 1, 1, 6]
  C. [5, 4, 3, 2, 1, 5]
  D. [2, 5, 1, 4, 3, 'six', 6]

  \correct{\tt{[5, 4, 3, 2, 1, 'six', 6]}}
  \answer{\tt{[5, 4, 3, 2, 1, 1, 6]}}
  \answer{\tt{[5, 4, 3, 2, 1, 5]}}
  \answer{\tt{[2, 5, 1, 4, 3, 'six', 6]}}

# Question 6:
What is the output of the following code?

In [37]:
list1 = [1, "two", 3, 5.6]
new_list = [] 
for item in list1: 
    if type(item) == str:
        list1.pop(-1)
        new_list.append(item)
print(list1, new_list)

[1, 'two', 3] ['two']

In [53]:
format_answers("""
[1, "two", 3, 5.6] ['two']
[1, 3, 5.6] ['two']
[1, 'two', 3] ['two']
[1, "two", 3, 5.6] []
Correct = C
""")

  A. [1, "two", 3, 5.6] ['two']
  B. [1, 3, 5.6] ['two']
  C. [1, 'two', 3] ['two']
  D. [1, "two", 3, 5.6] []

  \answer{\tt{[1, "two", 3, 5.6] ['two']}}
  \answer{\tt{[1, 3, 5.6] ['two']}}
  \correct{\tt{[1, 'two', 3] ['two']}}
  \answer{\tt{[1, "two", 3, 5.6] []}}

# Question 7:
What is the output of the following code?

In [40]:
my_dict = {'a': [1, 2, 3], 'b': {'x': 'apple', 'y': 'banana'}, 'hello': 'world'}
my_dict['new_key'] = 'new_value'
my_dict.pop('a')
my_dict['b']['z'] = 'cherry'
print(len(my_dict.keys()), len(my_dict.values()))

3 3

In [57]:
format_answers("""
4 4
['a', 'b', 'hello'] [[1, 2, 3],{'x': 'apple', 'y': 'banana'}, 'world']
['b', 'hello', 'new_key'] [{'x': 'apple', 'y': 'banana', 'z': 'cherry'}, 'world', 'new_value']
3 3
Correct = D
""")

  A. 4 4
  B. ['a', 'b', 'hello'] [[1, 2, 3],{'x': 'apple', 'y': 'banana'}, 'world']
  C. ['b', 'hello', 'new\_key'] [{'x': 'apple', 'y': 'banana', 'z': 'cherry'}, 'world', 'new\_value']
  D. 3 3

  \answer{\tt{4 4}}
  \answer{\tt{['a', 'b', 'hello'] [[1, 2, 3],{'x': 'apple', 'y': 'banana'}, 'world']}}
  \answer{\tt{['b', 'hello', 'new\_key'] [{'x': 'apple', 'y': 'banana', 'z': 'cherry'}, 'world', 'new\_value']}}
  \correct{\tt{3 3}}

# Question 8:
What is the output of the following code?

In [43]:
names = {'Alice': 1, 'Bob': 2, 'Caroline': 3} 
names['David'] = 4 
print(names[2])

KeyError: 2

In [55]:
format_answers("""
KeyError
'Bob'
'b'
'David'
Correct = A
""")

  A. KeyError
  B. 'Bob'
  C. 'b'
  D. 'David'

  \correct{\tt{KeyError}}
  \answer{\tt{'Bob'}}
  \answer{\tt{'b'}}
  \answer{\tt{'David'}}